.box-content {
    display: grid;
    grid-auto-rows: max-content;
    gap: 10px;
    padding: 30px;
}

.stairs-text {
    line-height: 4px;
  }
  
  .stairs-text p:nth-child(2n) {
    text-indent: 8rem;
  }
  
  .stairs-text p:nth-child(3n) {
    text-indent: 10rem;
  }
  .stairs-text p:nth-child(4n) {
    text-indent: 12rem;
  }
  .stairs-text p:nth-child(5n) {
    text-indent: 14rem;
  }

  .title {
    text-align: center;
    color: red;
  }

  .green_text {
    color: green;
  }
  .img{
    width: 500px;
  }
  .date {
    color: brown;
  }